<h1>Edit sewing project</h1>

<div class="btn-group">
<form method="POST" action="/projects/<%= @project.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name:</label><br>
  <input type="text" name="name" id="name" value="<%= @project.name %>"></br>
  <br>
  <label>Materials:</label><br>
  <input type ="text" name="material_names[][name]" value="<%= @project.material_names[0] %>" required>
  <br>
  <input type ="text" name="material_names[][name]" value="<%= @project.material_names[1] %>">
  <br>
  <input type ="text" name="material_names[][name]" value="<%= @project.material_names[2] %>">
  <br>
  <label>Instructions:</label><br>
  <input type="text" name="instructions" id="instructions" value ="<%= @project.instructions %>"></br>
  <br>
  <input type="submit" class="button" value="Submit"></br>
</form>
</div>