<h1>Project details</h1>

<h2><%= @project.name %></h2>
<h3>Project Materials:</h3> <%= @project.materials %>
<h3>Project Instructions: </h3><%= @project.intructions %></p>

<% if @project.user == current_user %>
<form action="/projects/<%= @project.id %>/delete" method="POST">
  <input type="hidden" name="_method" id="hidden" value="DELETE">
  <input type="submit" value="Delete">
</form>

<br>

<p><a href="/projects/<%= @project.id %>/edit">Edit project</a>
<% end %>
<a href="/projects">Back To All Projects</a></p>
<a href="/projects/new">Add New Projects</a></p>
<a href="/logout">Logout</a></p>