<a href="/projects/new">Project Id: </a>



<% if !@current_user.projects.include?(@project) %>

    <%= @project.id %> <br>
    <p>
        <strong> Name: </strong><%= @project.name %><br><br>
        <strong> Materials: </strong><%= @project.materials %><br><br>
        <strong>Instructions: </strong><%= @project.instructions %>
    </p>

<% else %>
    <%= @project.id %> <br><br>
    <strong>Name: </strong><%= @project.name %><br><br>
    <strong>Materials: </strong><%= @project.materials %><br><br>
    <strong>Instructions: </strong><%= @project.instructions %><br>


<a href="/recipes/<%= @recipe.id %>/edit" class="button">Edit Recipe</a><br><br>

<% end %>

<form action="/projects/<%= @project.id %>" method="POST">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="button" value="Delete">Delete</button>
</form>